@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    You have successfully registered, <a id="confirm-link" href="https://bgalfa.azurewebsites.net/Identity/Account/Login">Click here to proceed to login</a>
</p>
    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
    }
}
